.App {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 48px;
}

.selector {
    color: darkblue;
    position: center;
    text-align: center;
    background: rgba(240,248,255,.7);
    border-radius: 15px;
    margin: 20px auto auto;
    padding: 20px;
    width: 40%;
    font-size: 20px;
}
select{
    font-size: 16px;
}

.quiz {
    padding-top: 20px;
}

.tsparticles {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
}

.question-section {
    width: 100%;
    position: relative;
}

.question-count {
    margin-bottom: 20px;
}

.question-count span {
    font-size: 28px;
}

.question-text {
    font-size: 24px;
    margin-bottom: 12px;
}

.answer-section {
    margin-left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: aliceblue;
    font-size: 16px;
    border-radius: 12px;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #234668;
    cursor: pointer;
    margin: 3px;
}

button:hover {
    background-color: lightskyblue;
}

button:focus {
    outline: none;
}
